# Complied python modules
*.pyc

# VIM cached files
*~

# data directory 
simha*
# data files
*.hdr

# Notes to myself
Notes

# tar files
*.tar
*.tar.gz

# junk files
jack*

# working directories, for now ignore
M09_models
M11
Musicat
antonella
